<!DOCTYPE html>
<html>
	<head>
		<script src="bower_components/angular/angular.js"></script>
		<script src="app.js"></script>
	<title>Twitter Fullstack</title>
</head>
<body ng-app="myApp">
	<h1>Twitter Fullstack</h1>
	<div ng-controller="FormController">

		<input name="twitterHandle" type="text" ng-model="twitterHandle.username" placeholder="Enter a Twitter Handle">

		<button ng-click="postHandle()">Get Tweets</button>

		<!-- <p>form = {{ twitterHandle }}</p> -->
	</div>

	<div id="tweets">

	</div>
</body>
</html>